<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Admin_Login.Properties.Settings.FFRUsersConnectionStringHolidays" connectionString="Data Source=DESKTOP-EHBRJVA\SQLEXPRESS;Initial Catalog=FFRUsers;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Admin_Login.Properties.Settings.FFRUsersConnectionString" connectionString="Data Source=DESKTOP-N4JRA7K\SQLEXPRESS;Initial Catalog=FFRUsers;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Admin_Login.Properties.Settings.FFRUsersConnectionString1" connectionString="Data Source=DESKTOP-2NTMR5E\SQLEXPRESS;Initial Catalog=FFRUsers;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Admin_Login.Properties.Settings.FFRUsersConnectionString2" connectionString="Data Source=DESKTOP-B80EBU7\SQLEXPRESS;Initial Catalog=FFRUsers;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Admin_Login.Properties.Settings.FFRUsersConnectionString3" connectionString="Data Source=DESKTOP-0Q352R7\SQLEXPRESS;Initial Catalog=FFRUsers;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.3460.0.58" newVersion="20.3460.0.58" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Portable" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.3200.0.58" newVersion="20.3200.0.58" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>